.active-btn {
	background-color: mediumslateblue;
}

.movie-item {
	padding: 5px 8px;
	border-bottom: 2px solid grey;
	display: flex;
	justify-content: space-between;
}

.movie-item:hover {
	cursor: pointer;
	background-color: antiquewhite;
}

.active-movie {
	background-color: grey;
}
